<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
 	http://www.springframework.org/schema/util
 	http://www.springframework.org/schema/util/spring-util.xsd">

	<!--1 -->
	<bean id="duke" class="com.springinaction.springidol.Juggler">
		<!-- <constructor-arg value="15" /> -->
	</bean>
	<!--2 -->
	<bean id="sonnet29" class="com.springinaction.springidol.Sonnet29">
	</bean>
	<!--3 -->
	<bean id="poeticDuke" class="com.springinaction.springidol.PoeticJuggler">
		<constructor-arg value="15" />
		<constructor-arg ref="sonnet29" />
	</bean>
	<!--4 -->
	<bean id="theStage" class="com.springinaction.springidol.Stage"
		factory-method="getInstance">
	</bean>
	<!--5 -->
	<bean id="auditorium" class="com.springinaction.springidol.Auditorium"
		init-method="turnOnLights" destroy-method="turnOffLights">
	</bean>
	<!--6 -->
	<bean id="kenny" class="com.springinaction.springidol.Instrumentalist">
		<property name="song" value="Jingle Bells" />
		<property name="age" value="37" />
		<property name="instrument" ref="saxophone" />
		<!-- <property name="instrument" ref="piano" /> -->
	</bean>
	<!--7 -->
	<bean id="saxophone" class="com.springinaction.springidol.Saxophone" />
	<!--8 -->
	<bean id="piano" class="com.springinaction.springidol.Piano" />
	<!--9 -->
	<bean id="jenny" class="com.springinaction.springidol.Instrumentalist">
		<property name="song" value="Jingle Bells" />
		<property name="instrument">
			<bean class="com.springinaction.springidol.Saxophone" />
		</property>
	</bean>
	<!--10 -->
	<bean id="venny" class="com.springinaction.springidol.Instrumentalist"
		p:song="Jingle Bells" p:instrument-ref="saxophone">
	</bean>
	<!--11 -->
	<bean id="guitar" class="com.springinaction.springidol.Guitar" />
	<bean id="cymbal" class="com.springinaction.springidol.Cymbal" />
	<bean id="harmonica" class="com.springinaction.springidol.Harmonica" />
	<bean id="hank" class="com.springinaction.springidol.OneManBand">
		<property name="instruments">
			<list>
				<ref bean="guitar" />
				<ref bean="cymbal" />
				<ref bean="harmonica" />
				<ref bean="guitar" />
			</list>
		</property>
	</bean>
	<!--12 -->
	<bean id="tank" class="com.springinaction.springidol.OneManBandMap">
		<property name="instruments">
			<map>
				<entry key="GUITAR" value-ref="guitar" />
				<entry key="CYMBAL" value-ref="cymbal" />
				<entry key="HARMONICA" value-ref="harmonica" />
			</map>
		</property>
	</bean>
	<!--13 -->
	<bean id="bank" class="com.springinaction.springidol.OneManBandProps">
		<property name="instruments">
			<props>
				<prop key="GUITAR">STRUM STRUM STRUM</prop>
				<prop key="CYMBAL">CRASH CRASH CRASH</prop>
				<prop key="HARMONICA">HUM HUM HUM</prop>
			</props>
		</property>
	</bean>
	<!--14 -->
	<bean>
		<util:list id="cities">
			<bean class="com.springinaction.springidol.City"
			 	p:name="Chicago" p:state="IL" p:population="2853114" />
			<bean class="com.springinaction.springidol.City"
			 	p:name="Atlanta" p:state="GA" p:population="537958" />
			<bean class="com.springinaction.springidol.City"
		 		p:name="Dallas" p:state="TX" p:population="1279910" />
			<bean class="com.springinaction.springidol.City"
			 	p:name="Houston" p:state="TX" p:population="2242193" />
			<bean class="com.springinaction.springidol.City"
			 	p:name="Odessa" p:state="TX" p:population="90943" />
			<bean class="com.springinaction.springidol.City"
			 	p:name="El Paso" p:state="TX" p:population="613190" />
			<bean class="com.springinaction.springidol.City"
			 	p:name="Jal" p:state="NM" p:population="1996" />
			<bean class="com.springinaction.springidol.City"
			 	p:name="Las Cruces" p:state="NM" p:population="91865" />
			<bean class="com.springinaction.springidol.City"
			 	p:name="Las Cruces" p:state="NM" p:population="91865" />
		</util:list>
	</bean>
	<!--15 -->
	<bean id="querySet" class="com.springinaction.springidol.QuerySet">
		<property name="chosenCity" value="#{cities[2]}" />
	</bean>
</beans> 